*{
    margin: 0px;
    padding: 0px;
}
#nav-head{
    font-family: 'Unbounded', cursive;
}
nav{
    background-color: rgb(0, 255, 229);
    color: white;
    padding: 20px;
}

nav ul{
    color: white;
    list-style: none;
}

.map{
    height: 600px;
    width: auto;
    background-color: black;

}
.location-head{
    font-family: 'Unbounded', cursive;
    z-index: 0;
    position: relative;
    bottom: 70px;
    left: 7px;
}

.user-data{
    margin-top: -39px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(0, 255, 229);
    padding: 40px;
}
.data-cont{
    display: flex;
    flex-direction: column;
}
.user-data-head{
    color: rgb(255, 255, 255);
    font-family: 'Roboto Condensed', sans-serif;
    background-color: rgb(0, 0, 0);
    width: 120px;
    padding: 1px;
    text-align: center;
    border-radius: 20px;
}
.user-info{
    display: inline-flex;
    justify-content: space-between;
    text-transform: uppercase;
    margin: 10px;
    color: white;
    font-size: 23px;
    font-family: 'Jost', sans-serif
}

.user-info #gmap{
    text-decoration: none;
    color: red;
}
.usrdata{
    color: rgb(58, 0, 0);
}
.usrlabel{

}

/* marker */




@media (max-width: 800px) {
    .user-info{
        display: inline-flex;
        justify-content: space-between;
        text-transform: uppercase;
        margin: 10px;
        color: white;
        font-size: 18px;
        font-family: 'Jost', sans-serif
    }

    #nav-head{
        font-size: 20px;
    }
}
